In [1]:
import pandas as pd
%matplotlib inline

In [2]:
csv_path = '../new_flash_head.csv'
df = pd.read_csv(csv_path)

In [3]:
df.columns

Index(['id', 'accident', 'author', 'date', 'description', 'lat', 'link', 'lon',
       'title', 'source', 'location', 'city', 'intersection', 'road1', 'road2',
       'street', 'geo_extracted_address', 'geo_extracted_city',
       'geo_extracted_district', 'geo_extracted_intersection',
       'geo_extracted_road_no', 'geo_extracted_street', 'resolution',
       'street2', 'tweet_id', 'district_hebrew',
       'non_urban_intersection_hebrew', 'region_hebrew', 'road_segment_name',
       'street1_hebrew', 'street2_hebrew', 'yishuv_name'],
      dtype='object')

In [4]:
def show_cols_with(string):
    
    for col in sorted(df.columns):

        if string not in col:
            continue

        print(col)

In [5]:
show_cols_with('lat')

lat

In [6]:
show_cols_with('lon')

lon

In [7]:
example = ex = df[df.intersection.isna()].head(1).squeeze()
example[~example.isna()]

id                                                             0
accident                                                    True
author                                              אילנה קוריאל
date                                            2019-03-27 21:00
description    ממג"ב נמסר כי אחד מלוחמיו נפגע מכלי רכב שככל ה...
lat                                                      32.0684
link           http://www.ynet.co.il/articles/0,7340,L-548555...
lon                                                      34.8248
title          לוחם מג"ב נפגע מרכב שנמלט מבדיקה משטרתית מדרום...
source                                                      ynet
location         gas station in Ramat Beqa, south of Be'er Sheva
city                                                     באר שבע
street                                                   אחד העם
Name: 0, dtype: object

`city` was replaced with `yishuv_name`.
`street` was replaced with `street1_hebrew`...

```sql
select count(*)
from markers
-- where yishuv_name = 'באר שבע'
where road_type in (1, 2)
and (   (street1_hebrew is not null and street1_hebrew != '')
     or (street2_hebrew is not null and street2_hebrew != '') ) 
-- group by road_type
-- limit 10
```

In [26]:
df2 = pd.read_csv('../views_2019/markers_hebrew.csv') #, nrows=100000)

/Users/eliadlevy/src/anyway-data-science/.venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (23,93) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [27]:
df2.head()

,id,provider_and_id,provider_code,provider_code_hebrew,file_type_police,accident_type,accident_type_hebrew,accident_severity,accident_severity_hebrew,accident_timestamp,...,accident_day,accident_hour_raw,accident_hour_raw_hebrew,accident_hour,accident_minute,geom,longitude,latitude,x,y
0,2009000007,12009000007,1,הלשכה המרכזית לסטטיסטיקה - סוג תיק 1,NaN,1,פגיעה בהולך רגל,3,קלה,2009-02-06 00:00:00,...,6,1,00:00-00:59,0,0,0101000020E6100000637BE6ECAA5F41401854619C93DF...,34.747404,31.873346,176203.0,642358.0
1,2017006880,32017006880,3,הלשכה המרכזית לסטטיסטיקה - סוג תיק 3,NaN,3,התנגשות חזית באחור,3,קלה,2017-08-29 19:00:00,...,29,77,19:00-19:14,19,0,0101000020E6100000A0459C09B4524140434C48B9E7BD...,34.646119,31.741817,166544.0,627818.0
2,2009054349,32009054349,3,הלשכה המרכזית לסטטיסטיקה - סוג תיק 3,NaN,10,התהפכות,3,קלה,2009-08-05 16:30:00,...,5,67,NaN,16,30,NaN,NaN,NaN,NaN,NaN
3,2012000013,12012000013,1,הלשכה המרכזית לסטטיסטיקה - סוג תיק 1,NaN,1,פגיעה בהולך רגל,3,קלה,2012-02-01 00:00:00,...,1,1,00:00-00:59,0,0,0101000020E610000063BA7185419C4140FB9A7A88FADE...,35.220750,31.871010,220993.0,642008.0
4,2019019112,12019019112,1,הלשכה המרכזית לסטטיסטיקה - סוג תיק 1,1.0,5,התנגשות חזית בחזית,3,קלה,2019-10-30 17:00:00,...,30,69,17:00-17:14,17,0,0101000020E61000001F00D68CADC9414014D611D46D9C...,35.575609,33.222102,254050.0,791902.0

In [28]:
df3 = df2[
    (df2.accident_severity == 1) &
    (df2.road_type.isin({1, 2}))
]

In [29]:
df3.head()

,id,provider_and_id,provider_code,provider_code_hebrew,file_type_police,accident_type,accident_type_hebrew,accident_severity,accident_severity_hebrew,accident_timestamp,...,accident_day,accident_hour_raw,accident_hour_raw_hebrew,accident_hour,accident_minute,geom,longitude,latitude,x,y
84,2015000969,12015000969,1,הלשכה המרכזית לסטטיסטיקה - סוג תיק 1,NaN,10,התהפכות,1,קטלנית,2015-01-01 16:00:00,...,1,65,16:00-16:14,16,0,0101000020E6100000DCA9761054D541404E0DC057E06C...,35.666628,32.850596,262716.0,750733.0
89,2019020159,12019020159,1,הלשכה המרכזית לסטטיסטיקה - סוג תיק 1,1.0,2,התנגשות חזית בצד,1,קטלנית,2019-11-05 18:15:00,...,5,74,18:15-18:29,18,15,0101000020E610000033BCE7F65CA14140940CDAB8B467...,35.260650,32.810203,224714.0,746160.0
231,2016026756,12016026756,1,הלשכה המרכזית לסטטיסטיקה - סוג תיק 1,NaN,1,פגיעה בהולך רגל,1,קטלנית,2016-06-01 20:45:00,...,1,84,20:45-20:59,20,45,0101000020E610000090A731316C65414050478E397945...,34.792364,31.271381,180206.0,575594.0
1944,2009026962,12009026962,1,הלשכה המרכזית לסטטיסטיקה - סוג תיק 1,NaN,1,פגיעה בהולך רגל,1,קטלנית,2009-02-09 11:30:00,...,9,47,NaN,11,30,0101000020E6100000F02F77975BA141401CCB1E45DF67...,35.260608,32.811501,224710.0,746304.0
3272,2010033677,12010033677,1,הלשכה המרכזית לסטטיסטיקה - סוג תיק 1,NaN,10,התהפכות,1,קטלנית,2010-12-06 13:00:00,...,6,53,NaN,13,0,0101000020E610000022E2F6733B6B414042F1DA86AA31...,34.837752,31.194008,184500.0,567000.0

In [50]:
q = df3
q = q[
    (q.yishuv_name == ex.city) #&
#     ((q.street1_hebrew == ex.street) |
#      (q.street2_hebrew == ex.street))
]

q = q.loc[((q.longitude - ex.lon)**2 + (q.latitude - ex.lat)**2).sort_values().index]
q.head(20)[['yishuv_name', 'street1_hebrew', 'longitude', 'latitude', 'speed_limit_hebrew']]

       yishuv_name  street1_hebrew  longitude   latitude speed_limit_hebrew
201407     באר שבע       הכט ראובן  34.818674  31.274971         עד 50 קמ"ש
140495     באר שבע     שד רגר יצחק  34.796527  31.275101            70 קמ"ש
81881      באר שבע    בן יוסף שלמה  34.811832  31.271307         עד 50 קמ"ש
116704     באר שבע  הצדיק מירושלים  34.784213  31.271995            70 קמ"ש
231        באר שבע         סנהדרין  34.792364  31.271381            לא ידוע
154166     באר שבע    בעלי התוספות  34.787135  31.271355            60 קמ"ש
105304     באר שבע     שד רגר יצחק  34.798121  31.270903            60 קמ"ש
31081      באר שבע     שד רגר יצחק  34.798136  31.269641         עד 50 קמ"ש
75188      באר שבע     שד רגר יצחק  34.798138  31.269190            70 קמ"ש
116263     באר שבע        מוטה גור  34.756271  31.267788         עד 50 קמ"ש
194184     באר שבע        מוטה גור  34.756271  31.267788            60 קמ"ש
59867      באר שבע       דורי יעקב  34.779032  31.266025         עד 50 קמ"ש
196075     באר שבע      יהודה הלוי  34.789355  31.263245            60 קמ"ש
182421     באר שבע        מוטה גור  34.753383  31.265532         עד 50 קמ"ש
125286     באר שבע     שד רגר יצחק  34.798275  31.261713            60 קמ"ש
121781     באר שבע     שד רגר יצחק  34.798275  31.261713            70 קמ"ש
103616     באר שבע     שד רגר יצחק  34.798275  31.261713            60 קמ"ש
89884      באר שבע     שד רגר יצחק  34.798275  31.261713            60 קמ"ש
107405     באר שבע    שד בן גוריון  34.798289  31.261100            60 קמ"ש
110581     באר שבע        דרך מצדה  34.787756  31.259091            60 קמ"ש

In [48]:
ex.lon, ex.lat

(34.824785, 32.068424)

In [ ]:
q.groupby()